body {
  background-color: rgb(36, 84, 100);
  color:rgb(214, 208, 242)
}

h1 {
  color: rgb(64, 223, 66);
  text-align: center;
}

p1 {
  font-family: serif;
  font-size: 20px;
  color:rgb(211, 233, 233)
}
